* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
a{
  font-family: "PT Serif", serif;
  font-size: 16px; 
  text-decoration: none;
  text-align: center; 
  color: white;
  padding: 1.2rem;
  background-color: rgb(156, 70, 156);
  }

  a:hover{
    font-family: "PT Serif", serif;
    font-size: 16px; 
    text-decoration: none;
   text-align: center; 
   color: rgb(156, 70, 156);
   padding: 1.2rem;
   background-color: white;
  }

  .container {
    display: grid;
    width: 100%;
    height: 100vh; 
    grid-template-columns:  repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px 5px; 
    grid-template-areas: 
      "header header header"
      "main main aside"
      "footer footer footer"; 
  }
  
  
  .header { grid-area: 1 / 1 / 2 / 6 }
  .footer { grid-area: 5/ 1 / 6 / 6 ; }
  .main { grid-area: 2 / 1 / 6 / 5; }
  .aside { grid-area: 2 / 5 / 6 / 6 ; }

 .padre-flex {
    display: flex;  
    flex-direction: row; 
    justify-content: center;
 }
 


 body{
    font-family: "PT Serif", serif;
    font-size: 20px;
    margin: 2rem 4rem;
}

aside{
  margin:0px;
  box-sizing:border-box;
  margin-left: 50px;
}

aside li{
  list-style: none;
}

main{
    width: 65%;
    height: 800px;
}

h1{
    color: #795791;
    font-family: "Playfair Display";
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2{
    color: rgb(208, 166, 247);
    
    font-size: 30px;
}

p{
    font-family: "PT Serif", serif;
    font-size: 16px;
}

article{
    margin-top: 20px;
    margin-bottom: 20px;
}


.footer-wrapper{
    width: 1100px;
    margin: 0 auto;
    }

.single-footer{
    width: 33%;
    float: left;
    text-align: left;
    }

    .footer-title{
        font-family: "Playfair Display", serif;
        font-size: 20px;
        color: black;
    }

footer ul{
    margin: 0;
    padding: 0;
    list-style: none;
    color: rgb(24, 1, 1);
    font-family: "Playfair Display", serif;
    font-size: 15px;
   }
  
   footer{
    width: 100%;
    height: 100px;
    bottom: 0;
    background-image: linear-gradient(to right,rgb(156, 70, 156), rgb(208, 166, 247));
    margin-top: 20px;
}

.suscribite{
  font-size: 15px;
  border-radius: 5px;
  background-color:rgb(208, 166, 247);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  width: 115px;
}

.mail {
  width: 200;
  height:27px;
  border-radius: 10px;
  border: 2px solid rgb(156, 70, 156);
  padding: 10px;
  margin-top: 5px;
  font-size: 10px;
  color: rgb(208, 166, 247);
}   

  .logo{
    height: 150px;
    width:  200;
    display: block;
    margin: auto;
}

.portadas{
  height: 150px;
  width:  200;
}

.novedades{
  width: 65%;
  height: 1500px;

}

.entrada{
  height: 300px;
  width:  100;
  display: block;
}


.portada{
  height: 300px;
  width:  100;
  display: block;
  margin: auto;
}

.titulo{
  text-align: center;
  font-family:"Playfair Display", serif, 
  Calibri, 'Trebuchet MS', sans-serif;
  font-size: 49px;
}

.subtítulo{
    font-family: "Playfair Display", serif ;
  color: rgb(208, 166, 247);
  font-size: 20px;
}


.contenedor {
	width: 90%;
	margin: 0 auto;
}

.articulo {
  margin-top: 20px;
  margin-bottom: 20px;
	border-radius: 15px;
	display: block;
  background-color: rgb(255, 234, 255);
}

.articulo__titulo{
    color: #9c469c;
    font-weight: bold;
    font-size: 30px;
    margin-left: 10px; 
    margin-top: 10px;
}

.articulo__img {
  height: 300px;
  width:  100;
  display: block;
  margin-left: 10px;
}

.articulo__texto{
    margin-left: 10px;
}

.articulo__subtitulo{
   font-family: "Playfair Display", serif ; 
   font-size: 20px;
   font-weight: bold;
   color: #9c469c;  
   margin-left: 10px;  
   margin-bottom: 10px;
}

.articulo__fecha{
    margin-left: 10px;
    font-size: 1rem;
}

.suscribite{
  font-size: 15px;
  border-radius: 5px;
  background-color:rgb(208, 166, 247);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  width: 115px;
}

.mail {
  width: 200;
  height:27px;
  border-radius: 10px;
  border:2px solid #9c469c;
  padding:10px;
  margin-top:5px;
  font-size:10px;
  color: rgb(208, 166, 247);
}   
