* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


  @media only screen and (max-width: 575px) {
    .articulo__texto{
   font-size: 2.1vw;
  }
    .celular{
       display: none;
   }
    .nov{
        height: 2000px;
    }
   body{
       background-color: rgb(255, 234, 255);
       margin: 0;
       padding: 0;
   }
  }
  

.contenedor {
	width: 90%;
	margin: 0 auto;
}

.articulo {
    margin: {
        top: 20px;
        bottom: 20px;
    }
	border-radius: 15px;
    border-color: $primary;
	display: block;
    background-color: rgb(255, 234, 255);
}

.articulo__titulo{
    color: $primary;
    font: {
        weight: bold;
        size: 2.1vw;
    } 
    margin: {
       left: 10px; 
       top: 10px
       ;
    } 
}

.articulo__img {
  height: $height;
  width:  100;
  display: block;
  margin-left: 10px;
}

.articulo__texto{
    margin-left: 10px;
    font-family: "PT Serif", serif;
}

.articulo__subtitulo{
    font: {
        family: "Playfair Display", serif ; 
        size: 1.4vw;
        weight: bold;
     }
   color: $primary;  
   margin: {
     left: 10px;  
     bottom: 10px;
   }
}

.articulo__fecha{
    margin-left: 10px;
    font-size: 1.1vw;
}

main{
    width: 65%;
    height: 1610px;
    grid-area: main;
}

body{
    font: {
        family: "PT Serif", serif;
        size: 1.4vw;
    }
    margin: 2rem 4rem;
}
.nov{
    height: 1900px;
}

h1{
    color: $primary;
    font: {
        family: "Playfair Display";
        size: 2.9vw;
        weight: bold;
    }
margin: {
    top: 20px;
    bottom: 20px;
}
}

h2{
    color: $secondary;
   font: {
       weight: bold;
       size: 2.1vw;
   }
}

p{
    font: {
        family: "PT Serif", serif;
        size: 1.1vw;
    }
}

article{
    margin: {
        top: 20px;
        bottom: 20px;
    }
}

.logo{
    height: $height - 150px;
    width:  200;
    display: block;
    margin: auto;
}

.portadas{
  height: $height - 150px;
  width:  200;
}

.novedades{
  width: 65%;
  height: 1500px;
}

.entrada{
  height: $height;
  width:  100;
  display: block;
}


.portada{
  height: $height;
  width:  100;
  display: block;
  margin: auto;
}

.titulo{
  text-align: center;
  font: {
     family:"Playfair Display", serif, 
  Calibri, 'Trebuchet MS', sans-serif; 
  size: 3.5vw;
  weight: bold;
  }
}

.inicio{ 
    font: {
     family:"Playfair Display", serif, 
  Calibri, 'Trebuchet MS', sans-serif;  
  weight: bold; 
    }
}

.cont{
    height: 1200px;
}

.subtítulo{
    font: {
       family: "Playfair Display", serif ; 
       size: 1.4vw;
       weight: bold;
    }
  color: $secondary;
}

.slider{
    height: $height;
    width: 300px;
}

