a{
  font-family: "PT Serif", serif;
  font-size: 1.25em; 
  text-decoration: none;
  text-align: center; 
  color: white;
  padding: 1.2rem;
  background-color: $primary;
  }

  a:hover{
    font-family: "PT Serif", serif;
    font-size:1.25em; 
    text-decoration: none;
   text-align: center; 
   color: $primary;
   padding: 1.2rem;
   background-color: white;
  }


 .padre-flex {
    display: flex;  
    flex-direction: row; 
    justify-content: center;
 }

.contenedorFlex{
    display:flex
}

header{
  grid-area: header;
}